[Unit]
Description=Traccar-Client Service

[Service]
User=root
ExecStart=sh /usr/bin/traccar-client.sh
Restart=on-failure

Type=simple

[Install]
WantedBy=default.target
